@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:ital,wght@0,400..900;1,400..900&display=swap');

* {
  user-select: none;
  font-family: "Lexend Deca", serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  scroll-behavior: smooth;
}

#loader {
  position: absolute;
  inset: 0 0 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100000;
  background: #FF864D;
}

#spinner {
  height: 50px;
  width: 50px;
  border-radius: 200px;
  border: 7px solid white;
  border-top: 7px solid transparent;
  animation: spinani 1s ease infinite;
}

@keyframes spinani {
  from {
    transform: rotate(0deg);
  }
  
  to {
    transform: rotate(360deg);
  }
}


.catg>div>a {
  width: 100%;
  padding: 1rem;
  border: 2px solid #00000050;
  border-radius: 5px;
  text-decoration: none;
  color: black;
}