@import url(../roots/root.css);


.dlist {
  padding: 1.5rem;
  padding-bottom: 0.5rem;
}

.dlist .btns {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-top: 1rem;
  gap: 1.5rem;
  padding-bottom: 1.5rem;
}

.dlist .btns a {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: fit-content;
  text-decoration: none;
  color: #000;
  font-size: 10px;
  background: #EFF1FF;
}

.dlist .btns a img {
  border-radius: 10px;
  width: 18em;
}

.dlist .btns a .about {
  padding: .5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
}

.dlist .btns a .about * {
  margin: 0;
}

.dlist .btns a .about {
  margin: 0;
}


.dlist .btns a .about .tags {
  display: flex;
  flex-direction: row;
  gap: .5rem;
}



