@import url(../roots/root.css);


.dlist {
  padding: 1.5rem;
  padding-bottom: 0.5rem;
}

.dlist .btns {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-top: 1rem;
  gap: 1.5rem;
  padding-bottom: 1.5rem;
}

.dlist .btns a {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: fit-content;
  text-decoration: none;
  color: #000;
  font-size: 10px;
  background: #EFF1FF;
}

.dlist .btns a img {
  border-radius: 10px;
  width: 18em;
}

.dlist .btns a .about {
  padding: .5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
}

.dlist .btns a .about * {
  margin: 0;
}

.dlist .btns a .about {
  margin: 0;
}


.dlist .btns a .about .tags {
  display: flex;
  flex-direction: row;
  gap: .5rem;
}




.dlist #sortToggle {
  padding: 0.5rem 1rem;
  color: white;
  background: #F7540098;
  border: none;
  font-size: 1.3rem;
  border-radius: 20px;
}




.searchbox {
  position: relative;
}

#suggestions {
  top: 100%;
  position: absolute;
  width: 90%;
  background: white;
  border: 1px solid #ccc;
  border-top: none;
  max-height: 200px;
  overflow-y: auto;
  display: none;
  z-index: 1000;
}

#suggestions div {
  padding: 1rem;
  cursor: pointer;
}

#suggestions div:hover {
  background: #f0f0f0;
}




#sortPanel {
  position: fixed;
  left: 0;
  bottom: -300px; /* hidden */
  width: 100%;
  background: white;
  box-shadow: 0 -5px 15px rgba(0,0,0,0.2);
  transition: 0.3s ease;
  z-index: 2000;
}

#sortPanel.active {
  bottom: 0;
}

.sort-content {
  padding: 20px;
}

.sort-content p {
  padding: 10px 0;
  cursor: pointer;
  border-bottom: 1px solid #eee;
}

.sort-content p:hover {
  background: #f5f5f5;
}